.footer-container {
    background-color: #399e5a;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.name-text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: black;
    /* -webkit-text-stroke: black; */
    -webkit-text-stroke-width: 0.5px;
}

